:root {
  --backround-color: #fff;
  --text-color: #333;
  --title-color: #BDBDBD;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--backround-color);
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

textarea {
  resize: none;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.header {
  display: flex;
  align-items: center;
  height: 102px;
}

.logo {
  width: 68.6px;
  margin-left: 136.45px;
  margin-right: 330px;
}
.logo .name-company {
  position: absolute;
  top: 60.4px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-list li {
  cursor: pointer;
  color: var(--text-color);
  font-size: 12px;
  margin-right: 60px;
  align-items: center;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.navigation-list li a {
  color: var(--text-color);
}
.navigation-list li:first-child:before {
  content: "";
  display: block;
  height: 1px;
  background: var(--text-color);
  width: 68px;
  margin-bottom: 4px;
}
.navigation-list li:first-child:after {
  content: "";
  display: block;
  height: 1px;
  background: var(--text-color);
  width: 68px;
  margin-top: 4px;
}
.navigation-list li:last-child {
  margin-right: 0;
}

.for-hover {
  position: relative;
  display: inline-block;
}

.for-hover::before,
.for-hover::after {
  content: "";
  position: absolute;
  width: 0;
  margin: -4px 0;
  height: 1px;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.6s;
}

.for-hover::before {
  top: 0;
  right: 0;
  transform-origin: top right;
  transform: scaleX(0);
}

.for-hover::after {
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  transform: scaleX(0);
}

.for-hover:hover::before,
.for-hover:hover::after {
  opacity: 1;
  width: 100%;
  transform: scaleX(1);
}

.project-home {
  margin-bottom: 120px;
  display: flex;
}

.name-section {
  margin-right: 123px;
}
.name-section h1 {
  width: 278px;
  margin-top: 333px;
  margin-bottom: 90px;
  color: var(--title-color);
  font-family: inherit;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
}
.name-section h1 span {
  color: var(--text-color);
  font-family: inherit;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.main-img {
  position: relative;
}
.main-img button {
  padding: 0;
  top: 756.5px;
  position: absolute;
  width: 222px;
  height: 71px;
  background-color: var(--backround-color);
  color: var(--text-color);
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  transition: all 300ms linear;
}
.main-img button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.for-arrows {
  display: flex;
}
.for-arrows .first-btn {
  padding: 0;
  width: 53px;
  height: 53px;
  margin-right: 23px;
  border: 1px solid #F2F2F2;
  background: var(--backround-color);
  transition: all 300ms linear;
}
.for-arrows .first-btn:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.for-arrows .second-btn {
  padding: 0;
  width: 53px;
  height: 53px;
  margin-right: 0;
  margin-bottom: 94px;
  border: 1px solid #F2F2F2;
  background: var(--backround-color);
  transition: all 300ms linear;
}
.for-arrows .second-btn:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.for-numbers {
  display: flex;
}
.for-numbers .line-45deg {
  transform: rotate(-45deg);
}
.for-numbers .first-num {
  color: var(--title-color);
  font-family: inherit;
  position: relative;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-right: 89px;
}
.for-numbers .first-num:after {
  content: "";
  top: 50%;
  left: 48px;
  position: absolute;
  background: #E0E0E0;
  display: flex;
  width: 44px;
  height: 2px;
  transform: rotate(-45deg);
}
.for-numbers .second-num {
  color: var(--title-color);
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}/*# sourceMappingURL=styles.css.map */